<!DOCTYPE html>
<html>
<head>
    <title>Hola Mundo</title>
    <style>
        body { font-family: Arial; text-align: center; padding-top: 50px; background: #f0f0f0; }
        h1 { color: #222; }
        a.button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #28a745;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }
        a.button:hover {
            background-color: #1e7e34;
        }
    </style>
</head>
<body>
    <h1>Hello world from python</h1>
    <a href="https://front-paas-production.up.railway.app/" class="button">Regresar al inicio</a>
</body>
</html>
